@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  .theme-zinc {
    --primary: #3f3f46;
    /* zinc-500 */
  }

  .theme-slate {
    --primary: #64748b;
    /* slate-500 */
  }

  .theme-stone {
    --primary: #78716c;
    /* stone-500 */
  }

  .theme-gray {
    --primary: #6b7280;
    /* gray-500 */
  }

  .theme-neutral {
    --primary: #737373;
    /* neutral-500 */
  }

  .theme-red {
    --primary: #ef4444;
    /* red-500 */
  }

  .theme-rose {
    --primary: #f43f5e;
    /* rose-500 */
  }

  .theme-orange {
    --primary: #f97316;
    /* orange-500 */
  }

  .theme-green {
    --primary: #22c55e;
    /* green-500 */
  }

  .theme-blue {
    --primary: #3b82f6;
    /* blue-500 */
  }

  .theme-yellow {
    --primary: #eab308;
    /* yellow-500 */
  }

  .theme-violet {
    --primary: #8b5cf6;
    /* violet-500 */
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Terminal blinking cursor */
.terminal-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

 .markdown ul {
    list-style-type: disc !important;
    margin-left: 1.5rem !important; /* same as ml-6 */
    padding-left: 0 !important;
  }
  .markdown ol {
    list-style-type: decimal !important;
    margin-left: 1.5rem !important;
    padding-left: 0 !important;
  }
  .markdown li {
    margin-bottom: 0.5rem !important; 
  }


 .markdown table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  .markdown th,
  .markdown td {
    border: 1px solid gray !important;  
    padding: 0.5rem !important;
    text-align: left !important;

  }

  .markdown th {
    background-color: gray !important; 
    color: white !important;
  }